*{
 box-sizing: border-box;
 margin: 0;
  background: lightgray;
 
 
}
h1{
 font-family: Verdana,
 Geneva,
 Tahoma,
 sans-serif;
 text-align: center;
}
img{
 width: 114px;
 height: 114px;

}
p {
 opacity: 0.5;
}

a {
 text-decoration: none;
 ;
}

.leadership div {
 background: white;
 padding: 30px;
 
}

.leadership{
 
 margin: 0 auto;
 margin-top: 50px;
 max-width: 960px;
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
 grid-auto-rows: minmax(100px,auto);
 grid-gap: 30px;

}
.leadership a{
 text-align: center;
}